*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', serif;
}

.hero {
    width: 100%; 
    height: 10vh;
    background-color: white; 
    background-size: cover; 
    background-position: center; 
     padding-bottom: 7%;
     
     
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 30px;
}

.logo {
    color: rgb(7, 7, 7);
    font-size: 28px;
}

span {
    /* color: rgb(48, 45, 45); */
    color: rgb(78, 72, 72);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
 nav ul li a {
    color: rgb(1, 1, 1);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Nunito Sans', serif; 
 }

 nav ul li a:hover{
    color: rgb(158, 209, 50);
    transition: .3s;
    box-shadow: 0 0.5em 0.5em -0 rgb(158, 209, 50);
 }

 .homebutton button {
    background: none;
    color: rgb(2, 1, 1);
    border: 2px solid;
    padding: 1em, 2em;
    font-size: 1em;
    transition: all 0.25;
    border: 2px solid;
    padding: 0.5em 1em;
    border-radius: 1.5em;
    font-family: 'Nunito Sans', serif;
 }

 .homebutton button:hover {
    border-color: rgb(158, 209, 50);
    color: rgb(158, 209, 50);
    box-shadow: 0 0.5em 0.5em -0 rgb(6, 6, 5);
    transform: translateY(-0.25em);
    cursor: pointer; 


 }



 

 /* html{ */
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 10px; */
    /* box-sizing: border-box; */
/* } */

section{
    width: 100%;
    height:100vh;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container{
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion-item{
    background-color: pink;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: .5rem 2px .5rem black;
}

.accordion-link{
    font-size: 1.5rem;
    color: rgb(67, 17, 63);
    text-decoration: none;
    background-color: pink;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.accordion-link ion-icon{
    color: rgb(18, 18, 210);
    padding: .5rem;
}

.accordion-link remove{
    display: none;
}

.icon-to-remove{
    display: none;
}

.answer{
    
    max-height: 0; 
    overflow: hidden; 
    position: relative;
    background-color: blue;
    transition: max-height 650ms;
}

.answer::before{
    content: "";
    position: absolute;
    width: .6rem;
    height: 90%;
    background-color: green;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    color: white;
    font-size: 1rem;
    padding: 1rem;
}

.accordion-item:target .answer{
    max-height: 20rem;

}

.accordion-item:target .accordion-link .icon-to-add{
    display: none;
}

.accordion-item:target .accordion-link .icon-to-remove{
    display: block;
}









.footer-container {
    background-color: rgb(18, 18, 18);
    padding: 2rem 0 0.5rem 0;
}

.footer{
    width:80%;
    height: 40vh;
    background-color: rgb(18, 18, 18);
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading{
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2{
    margin-bottom: 2rem;
}

.footer-heading a{
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover{
    color:rgb(158, 209, 50);
    transition: 0.2s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: rgb(135, 179, 42);
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(158, 209, 50);
    color: white;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color:rgb(12, 13, 12) ;
    transition: all 0.4s ease-out;
}










